<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--
    0:HKEY_CURRENT_USER、1:HKEY_LOCAL_MACHINEにインストール
    スタートアップスクリプト時は "1"、手動実行時は "0" にしてください
    -->
    <add key="installToLocalMachine" value="0"/>
  </appSettings>
</configuration>
